html {
  min-height : 100%;
  diplay : grid;
}

body {
  margin : auto;
}

#cont_1 {
  text-align : center;
  border : aqua 1 px solid;
  border-radius : 5px;
}

#xenonzero {
  text-align : center;
}

#zero {
  border : aqua 1 px solid;
  border-radius : 5px;
  box-shadow : cyan 1px 1px 1px 1px;
}

#cont_2 {
  text-align : center;
  border : black 1 px solid;
  border-radius : 5px;
}

input {
  text-align : center;
  border : black 1 px;
  border-radius : 5px;
}
