html {
min-height : 100%;
display : grid;
}

body {
max-width : 100%;
}

#log_out:hover {
  border-radius : 5px;
  width : 90%;
  border : solid 1px red;
  background-color : rgb(255,190,190);
  color : red;
}

#cont_5:hover {
  margin : auto;
  width : 90%;
}

#side_bar:hover {
  border : goldenrod 1px solid;
  border-radius : 5px;
  width : 95%;
  background-color: goldenrod;
  color : white;
}

#xenonzero {
  text-align : center;
  border : white 1px solid;
  border-radius : 5px;
  box-shadow : purple 1px 1px 3px;
  float : left;
  font-size : 100%;
}

#zero {
  border : aqua 1px solid;
  border-radius : 5px;
}

#side_bar {
  background-color : rgb(100,250,100);
  border : solid 1px cyan;
  border-radius : 5px;
  width : 80%;
  font-size : 90%;
}

#cont_0 {
  height: 90%;
  border : 1px solid silver;
  padding : 5px;
}

#cont_1 {
  text-align : center;
  border : blue 1px solid;
  border-radius : 5px;
  width : 95%;
  padding : 2px;
  box-shadow : orange 1px 1px 5px;
  padding-left : 10px;
}

#cont_2 {
  border : solid 1px silver;
  text-align : center;
  padding : 5px;
  min-width : fit-content;
  border-radius : 5px;
  min-height : fit-content;
  width : 15%;
  position : fixed;
  left : 10px;
}

#cont_3 {
  padding : 10px;
  border : solid 1px black;
  border-radius : 5px;
  height : 79%;
}

#cont_4 {
  padding : 5px;
  border : solid 1px black;
  border-radius : 5px;
  height : 19%;
  font-size : 120%;
}

#cont_5 {
  margin : auto;
  width : 80%;
}

#cont_7 {
  width : 80%;
  position : fixed;
  right : 20px;
  border : 1px solid silver;
  border-radius : 5px;
  height : 84%;
  padding : 3px;
  text-align : center;
}

#frame_1 {
  width : 99%;
  height : 100%;
  border : solid 1px;
  border-radius : 5px;
}

img#profile_pic {
  width : 40px;
  height : 40px;
  border : solid 1px goldenrod;
  border-radius : 50%;
}

button#profile {
  border : solid 1px cyan;
  border-radius : 5px;
  width : 100%;
  background-color : white;
}

#log_out {
  border-radius : 5px;
  width : 80%;
  border : solid 1px red;
  background-color : white;
  color : red;
}

#search_bar {
  border : solid 1px blue;
  border-radius : 10px;
  height : 18px;
}

#search {
  float : right;
  width : fit-content;
}

#nav_bar {
  border-radius : 10px;
  fit-content;
  padding : 2px;
  border : solid 1px cyan;
  background-color : white;
  color : cyan;
}
